.menu-container {
    display: flex; /* Hace que los elementos se alineen horizontalmente */
    justify-content: flex-start; /* Espacio uniforme entre los elementos */
    position: absolute; /* Asegura que el contenido dentro respete la posición de este contenedor */
    top: 50;
    padding: 10px; /* Agrega un espacio interno */
}

.menu-item {
    margin: 0 1px; /* Espacio entre los elementos */
    margin-left: 10px;
    margin-right: 10px;
    

}

.menu-item a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Cambia el color del texto en los enlaces */
}
