<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <center>
            <!-- Primera Columna (Texto y Formulario) -->
            <img style="width: 25%; margin-top: 114px;" src="{{ url_for('static', filename='images/login/blue.png') }}" alt="Logo" class="logo">
            <h1>TAXES GT</h1>
            <p>CONSULTORIA Y ASESORIA</p>
            <h1>BIENVENIDOS</h1>
        </center>
    </div>
</body>
</html>