<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="header2">
            <img src="{{ url_for('static', filename='images/login/circulo.png') }}" alt="Taxes GT Logo" class="imgheader">
            <div class="bottom-row">
                <h1>TAXES GT</h1>
            </div>    
        </div>
    </header>
    <div class="menu-container2">
    </div>
</body>
</html>