<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar_style.css') }}">
    <link rel="stylesheet" type="text/css" href="sidebar_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#"><i class="fas fa-plus"></i> Nuevo</a></li>
            <li><a href="#"><i class="fas fa-check"></i> Activo</a></li>
            <li><a href="#"><i class="fas fa-user"></i> Roles</a></li>
        </ul>
    </div>
</body>
</html>